[submodule "files/home/antonio/zsh/modules/fasd"]
	path = files/home/antonio/zsh/modules/fasd
	url = git@github.com:clvv/fasd.git
[submodule "files/home/antonio/zsh/modules/prezto"]
	path = files/home/antonio/zsh/modules/prezto
	url = git@github.com:sorin-ionescu/prezto.git
[submodule "files/home/antonio/zsh/modules/zsh-completions"]
	path = files/home/antonio/zsh/modules/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule "files/home/antonio/zsh/modules/zsh-history-substring-search"]
	path = files/home/antonio/zsh/modules/zsh-history-substring-search
	url = git@github.com:zsh-users/zsh-history-substring-search.git
[submodule "files/home/antonio/zsh/modules/zsh-syntax-highlighting"]
	path = files/home/antonio/zsh/modules/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "files/home/antonio/zsh/modules/k"]
	path = files/home/antonio/zsh/modules/k
	url = git@github.com:supercrabtree/k.git
[submodule "files/home/antonio/tmux/plugins/tpm"]
	path = files/home/antonio/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "files/home/antonio/tmux/plugins/tmux-continuum"]
	path = files/home/antonio/tmux/plugins/tmux-continuum
	url = https://git::@github.com/tmux-plugins/tmux-continuum
[submodule "files/home/antonio/tmux/plugins/tmux-copycat"]
	path = files/home/antonio/tmux/plugins/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule "files/home/antonio/tmux/plugins/tmux-resurrect"]
	path = files/home/antonio/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "files/home/antonio/zsh/modules/hhighlighter"]
	path = files/home/antonio/zsh/modules/hhighlighter
	url = git@github.com:paoloantinori/hhighlighter.git
