<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>org.gnu.emacsterminal.daemon</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Applications/Emacs.app/Contents/MacOS/Emacs</string>
      <string>-nw</string>
      <string>--daemon=terminal</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>ServiceDescription</key>
    <string>Gnu Emacs Terminal Daemon</string>
    <key>UserName</key>
    <string>antonio</string>
    <key>KeepAlive</key>
    <dict>
      <key>OtherJobEnabled</key>
      <dict>
        <key>com.santosvelasco.environment</key>
        <true/>
      </dict>
    </dict>
  </dict>
</plist>
